.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .75);
  /* display: none; */
  visibility: hidden;
  transition: visibility 0.15s linear, opacity .32s linear;
  opacity: 0;
}

.open {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 800px;
  height: 600px;
}