@import url(./vendor/normalize.css);
@import url(./vendor/fonts/poppins/poppins.css);
@import url(./vendor/fonts/playfair_display/playfair_display.css);
@import url(./vendor/fonts/gilroy_bold/gilroy.css);

:root {
  --white: #FFFFFF;
  --gray: #B8B8B8;
  --orange: #FFB577;
  --softDark: #2E2D33;
  --lightGray: #C4E4EA;
  --playfairDisplay: 'Playfair Display', serif;
  --poppins: 'Poppins', sans-serif;
  --gilroy: 'Gilroy', sans-serif;
}

* {
  box-sizing: border-box;
}