@import url(./vendor/normalize.css);
@import url(./vendor/fonts/poppins/poppins.css);
@import url(./vendor/fonts/playfair_display/playfair_display.css);

:root {
  --white: #FFFFFF;
  --gray: #B8B8B8;
  --orange: #FFB577;
  --plaufairDisplay: 'Playfair Display', serif;
  --poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}